body {
   background-color: peachpuff;
}

article {
   background-color: whitesmoke;
   border: 1.5px solid black
}

footer {
   background-color: whitesmoke;
}

.info {
   background-color: lightgreen;
}